* {
  box-sizing: border-box;
}


.hero-banner {
  background: white;
  height: 100px;
  background-image: url("../images/02-hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
}

.portfolio1 {
background-image: url(../images/02-portfolio-1.jpg);
background-repeat: no-repeat;
background-position: center;
}

.hero-banner{
color: white;

}

.text {
  background: rgb(0,0,0,0.7);
  width:100%;
  padding: 20px 40px;
  color: white;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}
.container{
display: grid;
grid-template-columns: 25% 75%;

}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}
